@media (max-width: 576px) { 
	#news {
		width: 90%;
    margin: 0 auto;
	}
	.header_navigation {flex-direction: column;}
	.header__item {padding: 8px;}
	.footer_global {flex-direction: column;}
	.footer_icons {margin: 12px;}
	.footer_copyright {padding: 10px;}
	.social-box {max-width: 100%}
	.title-blog {font-size: 36px;}
	.title_info {width: 90%;}
	#contact_wrapper {
		width: 90%;
		margin: 0 auto;
	}
	.title_content {width: 90%;}
	.person_box {margin: 0 auto;}
	.header_menu {flex-direction: column;}
	.menu-item {padding: 8px;}
	.row_advantages {flex-direction: column;}
	.col-advantages {padding-bottom: 20px;}
}

@media (max-width: 768px) { 
	.row_advantages {width: 90%;}
 }


@media (max-width: 992px) { 

		img {
			max-width: 100%;
		}
		#news {flex-direction: column;}
		#news article{
			margin: 0 auto;
		}
		.footer_global {width: 90%}
		.header_navigation {width: 90%}
		.box_wrapper {width: 90%}
		#contact_wrapper {
			flex-direction: column;
		}
		#contact_wrapper  button {margin: 0 auto;}
		#contact_wrapper  .right { 
			padding-top: 60px;}
		#contact_wrapper .left, .right {
			margin: 0 auto;
		}
		#team {
			width: 90%;
			margin: 0 auto;
			justify-content: space-around;
		}
		#wrapper_boxes {
			width: 90%;
			margin: 0 auto;
		}
		.box {margin: 0 auto;}


 }

/*
@media (max-width: 1200px) { 
	
 }*/